<!--users/templates/registration/login.html-->
{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Login">
</form>
<div class="column is-one-third">
    <div class="block">
    <a href="{% url 'dwitter:dashboard' %} ">
    <button class="button is-dark is-outlined ">
    Back to dashboard
    </button>
    </a>
    </div>
    <div class="block">
    <a href="{% url 'dwitter:password_reset' %} ">
    <button class="button is-success is-light is-outlined">
    Reset password
    </button>
    </a>
    </div>
    <div class="block">
        <a href="{% url 'dwitter:register' %} ">
        <button class="button is-success is-light is-outlined">
        Register
        </button>
        </a>
    </div>
</div>

{% endblock %}